html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 13px;
    line-height: 20px;
}

.input-group {
    margin: 15px;
    text-align: center;
}

.input-group input {
    width: 75% !important;
    padding: 2px 0 2px 25px;
}